/* body {
  font-family: "Lato", sans-serif;
} */
.bs-example {
  margin: 0px;
}
@media screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu,
  .btn-group:hover .dropdown-menu {
    display: block;
  }
  .dropdown-menu {
    margin-top: 0;
  }
  .dropdown-toggle {
    margin-bottom: 2px;
  }
  .navbar .dropdown-toggle,
  .nav-tabs .dropdown-toggle {
    margin-bottom: 0;
  }
}

#bgImages {
  background-repeat: repeat;
}
/* ul {
  display: flex;
} */

/* li {
  margin-right: 100px;
}  */
.marq {
  font-size: 50px;
  font-family: monospace;
  color: rgb(255, 0, 51);
}
